@{
    ViewData["Title"] = "Home Page";
}
@model Mandaloriano.ViewModels.clsMisionesVM

<div class="text-center">
    @using (Html.BeginForm(FormMethod.Post)){
        <fieldset>
            Misiones
            @Html.DropDownListFor(modelo=>modelo.ListaCorta, new SelectList(Model.ListaCorta, "IdMision", "NombreMision"))
            <button type="submit">Ver detalles</button>
        </fieldset>
    }
</div>
